$background-color: #CCE1CA
$font-dark-color: #4F3329
$font-light-color: #CC8447

.nav
    font-family: 'FinkHeavy'
    src: url('../assets/FinkHeavy.ttf')
    font-size: 1rem
    height: 8%
    width: 100vw
    background-color: $background-color
    display: flex
    justify-content: space-between
    color: $font-dark-color
h1 
    margin-left: 1rem
.lightBrown
    color: $font-light-color
.div-left
    display: flex