$background-color: #CCE1CA

.nav
    font-family: 'FinkHeavy'
    src: url('../assets/FinkHeavy.ttf')
    font-size: 14rem
    height: 8%
    width: 100vw
    background-color: $background-color
    display: flex
    justify-content: space-between
